<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gpp.dmr_print">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="com.pax.permission.ICC"/>
    <uses-permission android:name="com.pax.permission.PICC"/>
    <uses-permission android:name="com.pax.permission.MAGCARD"/>
    <uses-permission android:name="com.pax.permission.PRINTER"/>
    <uses-permission android:name="com.pax.permission.PED"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />


    <application
        android:name=".app.Myapp"
        android:allowBackup="true"
        android:icon="@mipmap/dmr_print_logos_tamanos_circulos"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        tools:replace="icon, theme, label">
        <activity android:name=".GRUB.Registrar_series_mac"> </activity>

        <activity android:name=".GRUB.MenuGRUB">

        </activity>

        <activity android:name=".GRUB.Registrar_Series" />
        <activity
            android:name=".Usuario.InicioSesion"
            android:launchMode="singleTask" />
        <activity
            android:name=".Pdf_view"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />


        <activity android:name=".InicioFash"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ConfiguracionS.Configuracion_Impresora"
            android:label="Configuración"
            android:exported="true">



        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.MONKEY" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ConfiguracionS.ConnectionSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gpp.dmr_print.ConfiguracionS.ConnectionSettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>